# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env
.venv/

# IDE / Editor settings
.vscode/
.idea/

# Mac / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# PyInstaller
*.spec
build/
dist/

# Jupyter (in case you experiment later)
.ipynb_checkpoints/
